<%= stylesheet_link_tag "good_add" %>
<%= javascript_pack_tag "rater.js" %>
<%= stylesheet_link_tag "@rateyo/jquery/lib/cjs/jquery.rateyo.css" %>

<div class="main_field">
  <h2><%= I18n.t 'page.main.recent_goods' %></h2>
  <div class="goods_outer">
    <div class="goods_box">
      <% Good.all.sort_by { |g| g.created_at}.take(3).each do |good| %>
        <div class="description">
          <div class='good_card'>
            <div class="centered">
              <%= image_tag url_for(good.image), height: '128px' %>
            </div>
            <h2><a href="/good/<%= good.id %>"><%= good.name %></a></h2>
          </div>
          <p><%= good.description %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="main_field">
  <h2><%= I18n.t 'page.main.recent_ratements' %></h2>
  <div class="goods_box">
    <% Ratement.all.sort_by { |r| r.created_at}.take(3).each do |ratement| %>
      <div class="description">
        <p class="author"><%= Good.find(ratement.good_id).name %></p>
        <p class="author"><%= I18n.t 'good.comment.writing' %>
          <%= User.find(ratement.author_id).name %></p>
        <div id="ratement">
        </div>
        <script> window.$.rateYo(
          document.getElementById('ratement'),
          options={
            rating: <%= ratement.rating.to_f / 10 %>,
            halfStar: true,
            readOnly: true
          }
        );
          document.getElementById('ratement').id = '';
        </script>
        <% if ratement.pros != '' %>
          <p class="pros"><%= I18n.t 'good.comment.pros' %></p>
          <p><%= ratement.pros %></p>
        <% end %>

        <% if ratement.cons != '' %>
          <p class="cons"><%= I18n.t 'good.comment.cons' %></p>
          <p><%= ratement.cons %></p>
        <% end %>

        <% if ratement.other != '' %>
          <p class="other"><%= I18n.t 'good.comment.other' %></p>
          <p><%= ratement.other %></p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

