<div class="reg_upper inner">
  <h1>
    <%= image_tag 'logo.png', height: '20' %>
    <%= I18n.t 'pages.changing.title' %>
    <%= image_tag 'logo.png', height: '20' %>
  </h1>
</div>

<div class="reg_footer inner" id="reg_log_fields">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="reg_field">
      <%= f.label :email, I18n.t("pages.general.newlogin") %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="reg_field">
      <%= f.label :current_password, I18n.t("pages.general.curr_pass") %><br />
      <i>(<%= I18n.t "pages.changing.actual_pass" %>)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <div class="reg_field">
      <%= f.label :password, I18n.t("pages.general.newpass") %><br />
      <% if @minimum_password_length %>
        <em><%= "#{@minimum_password_length} #{I18n.t 'pages.registration.min_length'}" %></em><br />
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password" %><br />
        <i>(<%= I18n.t "pages.registration.empty_pass" %>)</i>
    </div>

    <div class="reg_field">
      <%= f.label :password_confirmation, I18n.t("pages.general.pass_confirm") %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions reg_field">
      <%= f.submit I18n.t("pages.changing.do_it"), commit: "Update" %>
    </div>

    <div class="reg_field">
      <%= link_to I18n.t("links.back"), :back %>
    </div>
  <% end %>
</div>

