<div class="reg_upper inner">
  <h1>
    <%= image_tag 'logo.png', height: '20' %>
    <%= I18n.t 'pages.registration.title' %>
    <%= image_tag 'logo.png', height: '20' %>
  </h1>
</div>

<div class="reg_footer inner" id="reg_log_fields">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <div class="reg_field">
      <%= f.label :name, I18n.t("pages.general.username") %>
      <%= f.text_field :name, autofocus: true, autocomplete: "username" %>
    </div>

    <div class="reg_field">
      <%= f.label :shortname, I18n.t("pages.changing.shortname") %><br />
      <%= f.text_field :shortname, autofocus: true, autocomplete: "shortname" %>
    </div>

    <div class="reg_field">
      <%= f.label :email, I18n.t("pages.general.email") %>
      <%= f.text_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="reg_field">
      <%= f.label :password, I18n.t("pages.general.pass") %><br />
      <% if @minimum_password_length %>
        <em>(<%= "#{@minimum_password_length} #{I18n.t('pages.registration.min_length')}" %>)</em><br />
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="reg_field">
      <%= f.label :password_confirmation, I18n.t("pages.general.pass_confirm") %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions reg_field">
      <%= f.submit I18n.t("pages.registration.do_it") %>
    </div>

    <div class="reg_field">
      <%= render "devise/shared/error_messages", resource: resource %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
