<h2><%= I18n.t "pagess.changing.title" %></h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, I18n.t("pages.general.newpass") %><br />
    <% if @minimum_password_length %>
      <em>(<%= "#{@minimum_password_length} #{I18n.t 'pages.registration.min_length'}" %>)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, I18n.t("pages.general.passconfirm") %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit I18n.t("pagess.changing.do_it"), commit: "Update" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
