<h2><%= I18n.t "pages.forgot.title" %></h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, I18n.t("pages.general.newpass") %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit :join, I18n.t("pages.changing.send_instructions") %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
