<div class="reg_upper inner">
  <h1>
    <%= image_tag 'logo.png', height: '20' %>
    <%= I18n.t 'pages.login.title' %>
    <%= image_tag 'logo.png', height: '20' %>
  </h1>
</div>

<div class="reg_footer inner" id="reg_log_fields">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="reg_field">
      <%= f.label :email, I18n.t("pages.general.email") %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="reg_field">
      <%= f.label :password, I18n.t("pages.general.pass") %>
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="reg_field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, I18n.t("pages.login.remember") %>
      </div>
    <% end %>

    <div class="actions reg_field">
      <%= f.submit I18n.t("pages.login.title") %>
    </div>

    <div class="reg_error">
      <%= render "devise/shared/error_messages", resource: resource %>
    </div>
  <% end %>

  <div class="reg_field">
    <%= render "devise/shared/links" %>
  </div>

</div>
