<%= turbo_frame_tag 'goods_list' do %>
  <% if goods.length.zero? %>
         <p><%= I18n.t('good.general.no_such') %> <%= code %></p>
    <%= button_to I18n.t('good.general.add_new'), "/good/new", method: 'get', params: { 'barcode': code } %>
  <% else %>
    <% goods.each do |good| %>
      <div class='description'>
        <h2><a href="/good/<%= good.id %>"><%= good.name %></a></h2>
        <div class='good_card'>
          <%= image_tag url_for(good.image), height: '256px' %>
          <p><%= good.description %></p>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

