<%= stylesheet_link_tag "good_add" %>
<%= javascript_include_tag "good_add_helper" %>

<div class="main_field">
  <h1><%= I18n.t 'good.add.title' %></h1>
  <%= form_with url: '/good/new', method: :post, id: 'barform' do |form| %>
    <div class="picdiv centered">
      <div>
        <%= form.text_field(:barcode, value: params[:barcode], hidden: true) %>
        <div class="add_field">
          <a><%= I18n.t('good.add.name') %></a><%= form.text_field(:name) %>
        </div>

        <div class="add_field centered">
          <a><%= I18n.t('good.add.description') %></a><%= form.text_area(:descr) %>
        </div>

        <div class="add_field centered">
          <a><%= I18n.t('good.add.company_select') %></a>
          <%= form.collection_select(:company_id, Company.all, :id,
                :name, {prompt: I18n.t('good.add.company_create')},
                {onchange: 'selector(event);', onload: 'selector(event);'}
              ) %>
        </div>

        <div class="add_field centered">
          <a><%= I18n.t('good.add.photo') %></a>
          <%= form.file_field :good_photo, onchange: 'showPreview(event, "good_preview");' %>
        </div>
      </div>

      <div class="add_field centered">
        <img id="good_preview" width="384px" />
      </div>
    </div>

    <div class="picdiv centered">
      <div>
        <div class="add_field company centered">
          <a><%= I18n.t('good.add.company_name') %></a>
          <%= form.text_field(:comp_name) %>
        </div>

        <div class="add_field company centered">
          <a><%= I18n.t('good.add.company_descr') %></a>
          <%= form.text_area(:comp_descr) %>
        </div>

        <div class="add_field company centered">
          <a><%= I18n.t('good.add.company_logo') %></a>
          <%= form.file_field :comp_logo, onchange: 'showPreview(event, "logo_preview");' %>
        </div>
      </div>

      <div class="add_field company centered">
        <img id="logo_preview" width="256px" />
      </div>
    </div>

    <%= submit_tag I18n.t ('good.add.do_it'), id: 'submitter' %>
  <% end %>
</div>

