<%= javascript_pack_tag "qr-scan.js" %>
<%= stylesheet_link_tag "good_add" %>

<div class="main_field">
  <h1><%= I18n.t 'good.general.scan_good' %></h1>
  <div class="barcode_uploader">
    <div id="bardiv" class="bar_column bardiv">
      <p>
        <%= I18n.t 'good.scan.barcam' %>
      </p>
      <%= form_with url: '/good/scan', method: :post, id: 'barform', data: { turbo: true } do |form| %>
        <%= form.text_field(:barcode, hidden: true) %>
        <%= submit_tag 'send', hidden: true, id: 'submitter' %>
        <video id="barcam" width="540" height="405" autoplay muted></video>
      <% end %>
    </div>

    <div class="bar_column">
      <p>
        <%= I18n.t 'good.scan.found' %>
      </p>
      <div class="goods" id="goods_listt">
        <%= turbo_frame_tag 'goods_list' do %>
        <% end %>
      </div>
    </div>
  </div>
</div>

