<%= stylesheet_link_tag "good_add" %>
<%= stylesheet_link_tag "@rateyo/jquery/lib/cjs/jquery.rateyo.css" %>
<%= javascript_pack_tag "rater.js" %>
<%= javascript_include_tag "good_view_helper" %>
<%= javascript_include_tag "shared_1" %>

<div class="main_field main_good">
  <div class="info">
    <div class="image centered animated">
      <%= image_tag url_for(good.image) %>
    </div>

    <% if !Ratement.where(good_id: good.id).count.zero? || user_signed_in? %>
      <h2><%= I18n.t 'good.page.comments' %></h2>
    <% end %>
    <% Ratement.where(good_id: good.id).each do |ratement| %>
      <div class="description">
        <p class="author"><%= User.find(ratement.author_id).name %></p>
        <div id="ratement">
        </div>
        <script> window.$.rateYo(
          document.getElementById('ratement'),
          options={
            rating: <%= ratement.rating.to_f / 10 %>,
            halfStar: true,
            readOnly: true
          }
        );
          document.getElementById('ratement').id = '';
        </script>
        <% if ratement.pros != '' %>
          <p class="pros"><%= I18n.t 'good.comment.pros' %></p>
          <p><%= ratement.pros %></p>
        <% end %>

        <% if ratement.cons != '' %>
          <p class="cons"><%= I18n.t 'good.comment.cons' %></p>
          <p><%= ratement.cons %></p>
        <% end %>

        <% if ratement.other != '' %>
          <p class="other"><%= I18n.t 'good.comment.other' %></p>
          <p><%= ratement.other %></p>
        <% end %>
      </div>
    <% end %>

    <% if user_signed_in? %>
      <div class="description" id="new_comm">
        <h2><%= I18n.t 'good.comment.yours' %></h2>
        <%= form_with url: '/good/ratement', method: :post, id: 'rateform' do |form| %>
          <div id="rater"></div>
          <script> window.$.rateYo(
            document.getElementById('rater'),
            options={
              halfStar: true,
              readOnly: false,
              onChange: function (rating, rateYoInstance) {
                document.getElementById('rating').value = '' + rating*10;
              }
            }
          );</script>
          <%= form.text_field(:good_id, :autocomplete => :off, value: good.id.to_s, hidden: true) %>
          <%= form.text_field(:rating, hidden: true) %>
          <p class="pros"><%= I18n.t 'good.comment.pros' %></p>
          <%= form.text_area(:pros) %>
          <p class="cons"><%= I18n.t 'good.comment.cons' %></p>
          <%= form.text_area(:cons) %>
          <p class="other"><%= I18n.t 'good.comment.other' %></p>
          <%= form.text_area(:other) %>
          <br/>
          <%= submit_tag I18n.t('good.comment.new'), id: 'submitter' %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="info">
    <h1><%= "#{I18n.t('good.page.title')} #{good.name}" %></h1>

    <div class="description centered animated" id="company">
      <% company = Company.find good.company_id %>
      <div>
        <%= image_tag url_for(company.image) %>
        <h2><%= company.name %></h2>
      </div>
      <p><%= company.description %></p>
    </div>

    <div class="description">
      <h2><%= "#{I18n.t('good.page.descr')}" %><h2>
      <p><%= good.description %></p>
    </div>

    <% prices_arr = Price.where(good_id: good.id) %>
    <% if !prices_arr.count.zero? || user_signed_in? %>
      <div class="description price">
        <h2><%= "#{I18n.t('good.page.price')}" %><h2>
        <% if !prices_arr.count.zero? %>
          <p><%= (prices_arr.collect { |price| price.value }
                            .inject(0.0, :+) / prices_arr.count).ceil(2) %> ₽</p>
        <% end %>

        <% if user_signed_in? %>
          <div id="add_price">
            <button onclick="hide_all('#submitter, #price, #add_price > button', 0);">
              <%= I18n.t 'good.page.price_new' %>
            </button>

            <%= form_with url: '/good/price', method: :post, id: 'priceform', data: {turbo: false} do |form| %>
              <%= form.text_field(:good_id, :autocomplete => :off, value: good.id.to_s, hidden: true) %>
              <%= submit_tag I18n.t('good.page.price_agree'), id: 'submitter', hidden: true, onclick: 'hide_all("#submitter, #price, #add_price > button", 0);' %>
              <%= form.text_field(:price, hidden: true) %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>

    <% if !prices_arr.count.zero? %>
      <div class="description">
        <h2><%= "#{I18n.t('good.page.price_dyn')}" %><h2>
        <%= area_chart Price.where(good_id: good.id)
          .group(:created_at).average(:value), class: 'box',
          theme: 'sakura',
          options: {
            title: {
              left: 'center'
            },
          }
        %>
      </div>
    <% end %>

    <% ratements_arr = Ratement.where good_id: good.id %>
    <% if !ratements_arr.count.zero? %>
      <div class="description">
        <h2><%= "#{I18n.t('good.page.avg_rating')}" %><h2>
        <p><%= (ratements_arr.collect { |rate| rate.rating.to_f / 10 }
                          .inject(0.0, :+) / ratements_arr.count).ceil(2) %></p>
            <%= area_chart Ratement.where(good_id: good.id)
          .group(:created_at).average(:rating), class: 'box',
          theme: 'sakura',
          options: {
            title: {
              left: 'center'
            },
          }
        %>
      </div>
    <% end %>

  </div>
</div>



