.logos {
  display: flex;
  border: none;
}

.logos img {
  margin: 5px;
}

.reg_upper {
  position: relative;
  top: 0;
  right: 0;
  background-color: #c2c2c2;
  width: 100%;
}

.reg_footer {
  position: relative;
  top: 0;
  right: 0;
  background-color: #f0f0f0;
  width: 100%;
}

.regbutt {
  position: relative;
  top: 0;
  right: 0;
  background-color: #2eb022;
  font-size: 24px;
  margin-bottom: 8px;
  transition-duration: 0.25s;
  transition-delay: 0.25s;
  transition-timing-function: linear;
}

.regbutt:hover {
  background-color: #3fff31;
  font-size: 32px;
  margin-bottom: 1px;
}

.reg_field {
  padding: 5px;
  margin-top: 10px;
}

