.add_field {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 6px 2px 6px 2px;
}

.add_field a {
  font-size: 24px;
  text-align: center;
  align-items: center;
  width: 240px;
}

.add_field textarea, .add_field input[type="text"], .add_field select {
  margin-left: 5px;
  width: 240px;
}

.add_field textarea {
  height: 60px;
}

.picdiv {
  display: flex;

  flex-wrap: row wrap;
  justify-content: space-around;
  align-items: stretch;
}

.image img {
  width: 50%;
}

.image img:hover {
  margin: 0%;
  width: 70%;
}

.main_good {
  display: flex;
  margin: 16px;

  flex-wrap: row wrap;
  justify-content: space-around;
  align-items: stretch;
}

.info {
  display: flex;
  flex-direction: column;

  flex-wrap: nowrap;
  justify-content: left;
  text-align: left;
  width: 100%;
}

.description {
  display: block;
  
  padding: 10px;
  background-color: #cccccc66;
  border-radius: 5px;

  margin: 16px;
}

.description p {
  #color: #3a3a3a;
  font-size: 18px;
  color: #000000dd;
  width: 100%;
}

.price p {
  color: #219d4a;
  font-size: 24px;
}

p.pros {
  padding-left: 10px;
  color: #3d9e20;
  font-weight: bold;
}

p.author {
  font-weight: bold;
  padding-left: 2px;
}

p.cons {
  padding-left: 10px;
  color: #ff0000;
  font-weight: bold;
}

p.other {
  padding-left: 10px;
  color: #717171;
  font-weight: bold;
}

#add_price form {
  display: flex;
}

#company:hover p {
  font-size: 18px;
}

#company p {
  font-size: 0px;
}

#company img {
  width: 64px;
}

#company > div {
  display: flex;
}

.good_card {
  display: flex;
  flex-direction: row;

  overflow: hidden;
}

