.barcode_uploader {
  display: flex;

  flex-wrap: row wrap;
  justify-content: space-around;
  align-items: stretch;
}

.bar_column {
  margin: 3px;
  flex-grow: 1;
}

.bar_column p {
  font-size: 24px;
  margin: 10px;
}

.goods {
  margin: 10px;
}

.goods button {
  color: black;
  text-align: left;
  padding: 14px 16px;
}

.goods_outer {
  display: block;
  overflow: scroll;
}

