ul.horizontal {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 50;

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  max-height: 20%;
  display: inline-flex;
  align-items: center;
  width: 100%;
}

ul.horizontal li {
  display: block;
  float: left;
}

ul.horizontal li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.horizontal button {
  margin: 5px 16px 5px 16px;
}

ul.horizontal li .img {
  display: block;
  text-align: center;
  height: auto;
}

ul.horizontal li .img img {
  padding: 6px 6px;
  height: 64px;
}

ul.horizontal li a:hover {
  background-color: #04AA6D;
}

div.search-container {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  display: inline-block;
}

ul.horizontal li input {
  color: #797979;
  text-align: left;
  padding: 14px 16px;
}

ul.horizontal .spacer {
  flex-grow: 2;
}

