.inner {
  border: 0.3em solid #333;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #ffecd4;
}

.centered {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main_outer {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.main {
  width: 80%;
  padding: 10px;
}


.bg {
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: #366e86;
  background-position:fixed;
  width: 100%;
  height: 100%;
}

.main_field h2, .main_field h1 {
  text-align: left;
  margin: 16px;
}

button,
input[type="button"],
input[type="submit"],
select {
  color: black;
  text-align: left;
  padding: 14px 16px;
}

button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
select:hover {
  color: white;
  border-color: #04AA6D;
  background-color: #04AA6D;
}

.animated *, .animated {
  transition-duration: 0.25s;
  transition-delay: 0.25s;
  transition-timing-function: linear;
}

.goods_box {
  display: flex;
  flex-direction: row;
}

.goods_box > * {
  width: 100%;
}

