<!DOCTYPE html>
<html>
  <head>
    <title>Аутентификация</title>
    <%= stylesheet_link_tag "devise" %>
    <%= stylesheet_link_tag "shared_1" %>
  </head>

  <body>
    <div class="main_outer">
      <div class="inner">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
