<!DOCTYPE html>
<html>
  <head>
    <title><%= I18n.t 'page.general.main_page_title' %></title>
    <%= javascript_importmap_tags %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "main" %>
    <%= stylesheet_link_tag "navbar" %>
    <%= stylesheet_link_tag "shared_1" %>
    <%= stylesheet_link_tag "goods_box" %>
  </head>

  <body>
    <div class="bg"></div>
    <ul class="horizontal">
      <li><div class="img"><%= image_tag 'logo.png' %></div></li>
      <li><a href="/"><%= I18n.t 'page.general.main_page_title' %></a></li>
      <li><a href="/good/scan"><%= I18n.t 'good.general.scan' %></a></li>
      <div class="spacer"></div>
      <% if !user_signed_in? %>
        <li><a href="/users/sign_in"><%= I18n.t 'page.general.sign_in' %></a></li>
      <% else %>
        <li><a><%= I18n.t 'page.general.signed_in' %> <%= current_user.name %></a></li>
        <li><%= button_to(
          I18n.t('page.general.log_out'),
          destroy_user_session_path,
          method: :delete
        ) %></li>
      <% end %>
      <!--li>
        <div class="search-container">
          <input type="text" placeholder="Поиск товара..">
          <button type="button"><i class="fa fa-search">Найти!</i></button>
        </div>
      </li-->
    </ul>

    <div class="main_outer">
      <div class="inner main">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
